.upload_container{
    height: 120px;
    width: 700px;
    border-radius: 15px;
}

.upload_top{
    display: flex;
}

.upload_image{
margin-top: 15px;
margin-left: 15px;
}

.upload_text{
    height: 40px;
    width: 480px;
    border: 0px;
    background-color: #eff2fe;
    border-radius: 30px;
    font-size: 16px;
    padding-left: 20px;
    margin: 15px;
}

.upload_bottom{
border-top: 1px solid #e3e6ea;
display: flex;
margin-left: 60px;
padding-top: 5px;
}

.upload_tabs{
width: 150px;
display: flex;
}

.upload_tabs_text{
margin: 6px;
font-size: 15px;
}